<nav class="left-menu" left-menu>
	<div class="logo-container">
		<a ng-href="#!/dashboard" class="logo">
			<img src="assets/common/img/logo.png" alt="AquaGuard by Guardian Chemicals Inc." />
			<img class="logo-inverse" src="assets/common/img/logo-inverse.png" alt="Angular Project" />
		</a>
	</div>
	<div class="left-menu-inner scroll-pane">
		<ul class="left-menu-list left-menu-list-root list-unstyled">
			<li class="left-menu-list-active">
				<a class="left-menu-link" ng-href="#!dashboard">
					<i class="left-menu-link-icon icmn-home2">&nbsp;</i>
					<span class="menu-top-hidden">Dashboard</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
<nav class="top-menu">
	<div class="mobile-logo">
		<a href="index.html" class="logo"> <img src="assets/common/img/logo.png" alt="Clean UI Admin Template" /> </a>
	</div>
	<div class="menu-icon-container hidden-md-up">
		<div class="animate-menu-button left-menu-toggle">
			<div>
			<!-- -->
			</div>
		</div>
	</div>
	<div class="menu">
		<div class="menu-user-block">
			<!-- <div class="dropdown dropdown-avatar"> -->
				<!-- <a href="#" class="top-ac">Account</a> -->
				<a href="javascript: void(0);" data-toggle="dropdown" aria-expanded="false">
					<span class="avatar" href="javascript:void(0);"> <img src="assets/common/img/temp/avatars/1.jpg" alt="Alternative text to the image"> </span>
				</a>
				<button type="button" class="btn btn-danger" ng-click="logout()">Logout</button>
			<!-- </div> -->
		</div>
	</div>
</nav>