<section class="page-content" style="background:#000">
   <div class="page-content-inner single-page-login-alpha" >
      <div class="single-page-block">
         <div class="row">
            <div class="col-xl-12">
               <div class="promo-text" style="padding:50px 0 20px">
                  <h1><img src="assets/common/img/logo.png" alt="Clean UI Admin Template" /></h1>
               </div>
               <div class="single-page-block-inner">
                  <div class="single-page-block-form">
                     <h3 class="text-center">
                        Forgot Password
                     </h3>
                     <br />
                     <form id="form-validation" name="form-validation" method="POST">
                        <div class="form-group">
                           <label class="form-label">Enter your registered Email Id</label>
                           <input class="form-control" placeholder="Email" name="email" type="email"  ng-model="val.userData.email">
							<div class="form-control-error" data-error-list="" ng-if="val.emailInvalid"><ul><li>Email is not valid.</li></ul></div>
                        </div>
                        <div class="form-group">
                           <a ng-href="#!" class="pull-right link-blue link-underlined">Login</a>
                           <div class="checkbox">
								<label class="{{val.msgClass}}" ng-if="val.message!=''">{{val.message}}</label>
                           </div>
                        </div>
                        <div class="form-actions">
                           <button type="button" class="btn btn-primary width-150" ng-click="exe.recoverPassword()">Submit</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>